.icon {
    font-size: 50px;
    margin-bottom: 22px;
}
.caption {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 27px;
}
.textBox {
    min-height: 126px;
    border-radius: 15px;
    border: 1.5px solid rgba(32, 33, 35, .5);
    color: rgba(32, 33, 35, .65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
}

.inputBox {
    border: 1.5px solid rgba(32, 33, 35, .65);
    width: 80%;
    padding: 14px 24px;
    border-radius: 15px;
    margin-bottom: 36px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inputBox input {
    width: 95%;
}
.inputBox input:focus-visible {
    outline: none;
}

.iconBox {
    position: relative;
    width: 50px;
}

.popupIconBox {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -350px;
    left: -300px;
    filter: drop-shadow(0px 0px 10px black);
    display: flex;
    flex-direction: column;
}
.popupIcon {
    position: relative;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 90%;
    width: 100%;
}
.popupTriangle {
    border-width: 0 40px 40px 0;
    border-color: transparent white transparent transparent;
    border-bottom-right-radius: 10px;
    border-top-color: transparent;
    height: 0px;
    width: 0px;
    align-self: flex-end;
}